{
	"log" : {
		"debug" : false,
		"info" : true,
		"error" : true
	},
	"records" : [{
			"token" : "*****,********************************",
			"host" : "www",
			"domain" : "mydomain.com"
		}, {
			"token" : "*****,********************************",
			"host" : "ddns",
			"domain" : "mydomain.com"
		}
	]
}